* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body {
    text-align: center;
    background-color: #F1F1F1;
}
.header-picture {
    max-width: 100vw;
    height: auto;
    border-radius: 10px;
}
.border-search {
    margin-top: 30px;
}
.name-githubSearch {
    font-size: 1em;
    display: block;
    margin-bottom: 5px;
}
#githubSearch {
    width: 46%;
    height: 37px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-top: 5px;
    font-size: 16px;
    padding: 0 12px;
}
.search-button {
    width: 90px;
    height: 40px;
    border: 1px solid #CCCCCC;
    font-weight: 600;
}
.search-button:hover {
    background-color: #E2E2E2;
    border-radius: 5px;
}
.links {
    margin-top: 40px;
    font-size: 0.9em;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.symbol {
    color: #666666;
}
.link-name {
    text-decoration: none;
    color: #666666;
}
.link-name:hover {
    text-decoration: underline;
}
.link-picture {
    margin-top: 30px;
    width: 40px;
    height: auto;
    max-width: 100%;
}